/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes updown {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
.animation-updown{
    animation: updown 2s ease-in-out infinite;
}
.primary-btn{
    @apply bg-blue-500 hover:bg-blue-600 text-white px-10 py-3 rounded-md  text-left text-sm md:text-base;
}