.swiper-wrapper{
  height: 210px;
  
}
.swiper-pagination-bullets.swiper-pagination-horizontal{
    /* background-color: aquamarine; */
} 
.swiper-pagination-bullet {
    width: 10px; /* Adjust the width */
    height: 10px; /* Adjust the height */
    background-color: #1967d2; /* Default color for pagination bullets */
    opacity: 1; /* Make sure bullets are fully visible */
    border-radius: 50%; /* Make it circular */
  }

  .swiper-pagination-bullet-active {
    background-color: white; /* White center */
    box-shadow: 0 0 0 1px #1967d2; /* Blue ring around the active bullet */
  }